global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: blackbox
    static_configs:
      - targets: ["blackbox:9115"]

  - job_name: zist-blackbox
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - http://zist-gateway:8000/healthz
          - http://zist-listings:8001/healthz
          - http://zist-bookings:8002/healthz
          - http://zist-payments:8003/healthz
          - http://zist-web:3000
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115
      - source_labels: [__param_target]
        regex: 'http://([^:/]+)(?::[0-9]+)?/.*'
        target_label: service
        replacement: '$1'
